@page "/plugin"

@using System.Net.Http.Headers;
@using System.Runtime.Loader
@using System.Reflection

@inject IPackageRepository repo;
@inject Interop DOMinterop;


<PageTitle>Module Manager</PageTitle>
<AuthorizeView Roles="Manager">
<Authorized>

<h1>Module Manager</h1>

Register Nuget Package (nupkg file)
<InputFile OnChange="@(async e => await OnInputFileChange(e))" />

<MudTable T="Package" Items="@packages" Context="package">
    <HeaderContent>
            <MudTh>Module</MudTh>
            <MudTh>Loaded</MudTh>
            <MudTh>Components</MudTh>
            <MudTh>Operation</MudTh>
    </HeaderContent>
    <RowTemplate>
                <MudTd DataLabel="Module">@package.Name</MudTd>
                    <MudTd DataLabel="Loaded">@package.IsLoaded</MudTd>
                <MudTd DataLabel="Components">
                    @if (package.IsLoaded)
                    {
                        <MudSelect T="String" Margin="Margin.Dense">
                            @foreach (var c in package.Components)
                            {
                                <MudSelectItem Value="@c.Item1">@c.Item2 @c.Item1</MudSelectItem>
                            }
                        </MudSelect>
                    }
                </MudTd>
                <MudTd DataLabel="Operation">
                    <MudButton Size="Size.Small" Color="Color.Primary" @onclick="() => Load(package)" Disabled="package.IsLoaded">Load</MudButton>
                    <MudButton Size="Size.Small" Color="Color.Primary" @onclick="() => Remove(package)">Remove</MudButton>
                </MudTd>
    </RowTemplate>
</MudTable>
 </Authorized>
 <NotAuthorized>
                <MudText Typo="Typo.body1">You are not allowed to see this content</MudText>
                <br>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Link="/login">Login</MudButton>
</NotAuthorized>
</AuthorizeView>

